<mat-sidenav-container class="container">

    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">

        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Inicio
            </a>
            <a mat-list-item routerLink="unidades">
                <i class="material-icons">domain</i>
                Unidades
            </a>
            <a mat-list-item routerLink="exemplos">
                <i class="material-icons">help</i>
                Exemplos
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>