<form class="" [formGroup]="formulario" (ngSubmit)="pesquisar()">

    <div class="form-group row">

        <div class="col-sm-12">

            <label for="inpId" class="mr-1 col-form-label"><strong class="text-secondary">ID</strong></label>
            <input id="inpId" class=" text-secondary" type="text" formControlName="id">
            <form-mensagem [errors]="id.errors" [mostraErro]="mostrarErro('id')">
            </form-mensagem>

            <div class="float-right">
                <button class="btn btn-light rounded border border-secondary" id="btnPesquisa" type="submit"><strong
                        class="text-secondary">Pesquisar</strong></button>
            </div>

        </div>
    </div>

</form>

<div class="details-table font-small card">
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th class="headers" scope="col">ID</th>
                <th class="headers" scope="col">NOME</th>
                <th class="headers" scope="col">ENDEREÇO</th>
                <th class="headers" scope="col">STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr [class.table-primary]="estaSelecionadoRegistro(unidade)" (click)="selecionarRegistro(unidade)"
                ngDefaultControl *ngFor="let unidade of listaDeUnidades">
                <td>{{unidade.id}}</td>
                <td>{{unidade.nome}}</td>
                <td>{{unidade.endereco}}</td>
                <td>{{unidade.status}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="float-right mt-3">
    <button class="btn btn-light rounded border border-secondary" id="btnForcar" type="button"
        (click)="forcarCancelamento(content)">
        <strong class="text-secondary">Forçar Cancelamento</strong>
    </button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Atenção</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Confirma o cancelamento do Acordo?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="sim()">Sim</button>
        <button type="button" class="btn btn-secondary" (click)="nao()">Não</button>
    </div>
</ng-template>