<form [formGroup]="formulario" (ngSubmit)="pesquisar()">

    <div class="form-group row">

        <div class="col-sm-12">

            <div class="col-sm-6 pl-0 d-inline">
                <label for="inpId" class="mr-1">ID</label>
                <input id="inpId" type="text" formControlName="id">
            </div>


            <div class="float-right">
                <button class="btn btn-success" id="btnIncluir" type="button" (click)="incluir()">Incluir</button>
            </div>

            <div class="float-right">
                <button class="btn btn-primary" id="btnPesquisa" type="submit">Pesquisar</button>
            </div>

            <form-mensagem [errors]="this.getId().errors" [mostraErro]="mostrarErro('id')">
            </form-mensagem>

        </div>
    </div>

</form>

<div class="details-table font-small card">
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th class="headers" scope="col">ID</th>
                <th class="headers" scope="col">NOME</th>
                <th class="headers" scope="col">ENDEREÇO</th>
                <th class="headers" scope="col">STATUS</th>
                <th class="headers" scope="col">AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <tr [class.table-primary]="estaSelecionadoRegistro(unidade.id)" (click)="selecionarRegistro(unidade.id)"
                ngDefaultControl *ngFor="let unidade of listaDeUnidades">
                <td>{{unidade.id}}</td>
                <td>{{unidade.nome}}</td>
                <td>{{unidade.endereco}}</td>
                <td>{{unidade.status}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Ações">
                        <button type="button" (click)="alterar(unidade)">
                            <i class="material-icons edit">edit</i>
                        </button>
                        <button type="button" (click)="excluir(unidade)">
                            <i class="material-icons delete">delete</i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
