<form [formGroup]="formulario" (ngSubmit)="pesquisar()">

    <div class="form-group row">

        <div class="col-sm-12">

            <div class="col-sm-6 pl-0 d-inline">
                <label for="inpId" class="mr-1">ID</label>
                <input id="inpId" type="text" formControlName="id">
            </div>


            <div class="float-right">
                <button class="btn btn-success" id="btnIncluir" type="button" (click)="incluir()">Incluir</button>
            </div>

            <div class="float-right">
                <button class="btn btn-primary" id="btnPesquisa" type="submit">Pesquisar</button>
            </div>

            <form-mensagem [errors]="this.getId().errors" [mostraErro]="mostrarErro('id')">
            </form-mensagem>

        </div>
    </div>

</form>

<div class="details-table font-small card">
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th class="headers" scope="col">ID</th>
                <th class="headers" scope="col">NOME</th>
                <th class="headers" scope="col">ENDEREÇO</th>
                <th class="headers" scope="col">STATUS</th>
                <th class="headers" scope="col">AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <tr [class.table-primary]="estaSelecionadoRegistro(unidade.id)" (click)="selecionarRegistro(unidade.id)"
                ngDefaultControl *ngFor="let unidade of listaDeUnidades">
                <td>{{unidade.id}}</td>
                <td>{{unidade.nome}}</td>
                <td>{{unidade.endereco}}</td>
                <td>{{unidade.status}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Ações">
                        <button type="button" (click)="alterar(unidade)">
                            <i class="material-icons edit">edit</i>
                        </button>
                        <button type="button" (click)="excluir(unidade)">
                            <i class="material-icons delete">delete</i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<modal-confirmation (modalEvent)="modalEvent($event)"></modal-confirmation>

<modal-inclusion></modal-inclusion>

<!-- <div class="float-right mt-3">
    <button class="btn btn-light rounded border border-secondary" id="btnForcar" type="button"
        (click)="forcarCancelamento()">
        <strong class="text-secondary">Forçar Cancelamento</strong>
    </button>
</div> -->

<!-- <confirmation-modal></confirmation-modal> -->

<!-- <form class="" [formGroup]="formPesquisa" (ngSubmit)="pesquisarDescontoFila()">

    <div class="form-group row">

        <div class="col-sm-12">

            <label for="selFila" class="mr-1 col-form-label"><strong class="text-secondary">
                    {{ 'PPW.ALCADADESCONTO.FILA' | translate }}
                </strong></label>

            <select id="selFila" type="text" formControlName="fila" title="Selecione uma fila">
                <option *ngFor="let fila of comboDeFilas" [ngValue]="fila.fila">
                    {{fila.fila}}
                </option>
            </select>

            <div class="float-right">
                <button class="btn btn-light rounded border border-secondary" id="btnPesquisa" type="submit"><strong
                        class="text-secondary">{{ 'PPW.ALCADADESCONTO.BUTTON_SEARCH' | translate }}</strong></button>
            </div>
        </div>
    </div>

</form>

<div class="efx-grid-card details-table font-small card">
    <table class="table table-striped table-hover table-bordered efx-grid table-sm">
        <thead>
            <tr>
                <th class="headers" scope="col">{{ 'PPW.ALCADADESCONTO.FILA' | translate }}</th>
                <th class="headers" scope="col">{{ 'PPW.ALCADADESCONTO.FAIXA_INICIAL' | translate }}</th>
                <th class="headers" scope="col">{{ 'PPW.ALCADADESCONTO.FAIXA_FINAL' | translate }}</th>
                <th class="headers" scope="col">{{ 'PPW.ALCADADESCONTO.DESCONTO' | translate }}</th>
                <th class="headers" scope="col">{{ 'PPW.ALCADADESCONTO.INTRENT'| translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alcadaDesconto of listaAlcadaDesconto" (click)="selecionarRegistro(alcadaDesconto)"
                [class.table-primary]="estaSelecionadoRegistro(alcadaDesconto)">
                <td>{{alcadaDesconto.idFila}}</td>
                <td>{{alcadaDesconto.fxInicio}}</td>
                <td>{{alcadaDesconto.fxFim}}</td>
                <td>{{alcadaDesconto.vlPercDesc}}</td>
                <td>{{alcadaDesconto.inRent}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Ações">
                        <button type="button" class="btn btn-secondary btn-table btn-sm"
                            (click)="alterar(alcadaDesconto)">
                            <fa-icon [icon]="faPencilAlt"></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger btn-table btn-sm" (click)="excluir(alcadaDesconto)">
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="float-right mt-3">
    <button class="btn btn-light rounded border border-secondary" id="btnForcar" type="button" (click)="incluir()">
        <strong class="text-secondary">Incluir</strong>
    </button>
</div>

<modal-inclusion [filaSelecionada]="this.fila.value" [listaAlcadaDesconto]="this.listaAlcadaDesconto"
    (modalEvent)="modalEvent($event)">
</modal-inclusion> -->

<!-- <modal-confirmation></modal-confirmation> -->