<app-header></app-header>
<!-- <app-nav></app-nav> -->

<mat-sidenav-container class="container">

    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">

        <mat-nav-list class="nav-list" *ngIf="this.mostrarMenu">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Inicio
            </a>
            <a mat-list-item routerLink="unidades">
                <i class="material-icons">domain</i>
                Unidades
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="content">
        <!--Aonde ser'ao colocadas as telas conforme a rota-->
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

<app-footer></app-footer>