<form [formGroup]="formulario" (ngSubmit)="salvar()">

    <div class="form-row">

        <div class="form-group col-md-1">
            <label for="inpId">Id</label>
            <input type="text" class="form-control" id="inpId" placeholder="Id" formControlName="id">
        </div>

        <div class="form-group col-md-4">
            <label for="inpNome">Nome</label>
            <input type="text" class="form-control" id="inpNome" placeholder="Nome" formControlName="nome">
        </div>

        <div class="form-group col-md-5">
            <label for="inpEndereco">Endereço</label>
            <input type="text" class="form-control" id="inpEndereco" placeholder="Rua.." formControlName="endereco">
        </div>

        <div class="form-group col-md-2">
            <label for="inpStatus">Status</label>
            <input type="text" class="form-control" id="inpStatus" placeholder="Ativo" formControlName="status">
        </div>

        <button id="btnSalvar" type="submit" class="btn btn-primary btn-sm btn-block active" role="button"
            aria-pressed="true">Salvar</button>

    </div>

</form>


<!-- <mat-card>
    <mat-card-title>Cadastrar Unidade</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="unidade.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Endereço" [(ngModel)]="unidade.endereco" name="endereco">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Status" [(ngModel)]="unidade.status" name="status">
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="salvar()" color="primary">Salvar</button>
    <button mat-raised-button (click)="cancelar()" color="primary">Cancelar</button>

</mat-card> -->