<!-- <div class="btn-group mr-3">
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-danger" ngbDropdownToggle>Select me</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>One</button>
            <button ngbDropdownItem>Two</button>
            <button ngbDropdownItem>Four!</button>
        </div>
    </div>
</div> -->
<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <input id="typeahead-focus" type="text" class="custom sele" [(ngModel)]="model" [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead" />
</div>
<hr>
<pre>Model: {{ model | json }}</pre>

<select id="selFila" type="text" formControlName="fila" title="Selecione uma fila">
    <!-- <option [ngValue]="{'fila':'Todas'}">Todas</option> -->
    <option *ngFor="let fila of listaAlcadaDesconto" [ngValue]="fila.idFila">
      {{fila.idFila}}</option>
  </select>