<form [formGroup]="formulario" (ngSubmit)="submit()" autocomplete="off">

  <div class=" form-row">

    <app-input-field class="col-md-12" [id]="'inputNome'" [label]="'Nome'" [type]="'text'" [isReadOnly]="false"
      [placeholder]="'Nome'" [maxlength]="'31'" [control]="nome" formControlName="nome">
    </app-input-field>
    <!-- <app-control-error> responsável por aplicar a msg de erro que está dentro do <app-input-field>-->
    <!--[app-control-error [control]="nome_do_control"] não é mais necessária nessa camada, está dentro do <app-input-field> -->

    <!-- 
      OLD
  <div class="form-group col-md-12">
    <label for="inputNome">Nome</label>
    <input type="text" class="form-control" id="inputNome" placeholder="Nome" formControlName="nome" maxlength="31"
      [addValidOrInvalidClass]="nome">
    <app-control-error [control]="nome" [label]="'Nome'"></app-control-error>
  </div> -->

  </div>
  <!-- 
    <div class="form-group col-md-12">
      <label for="inputNome">Nome</label>
      <input type="text" class="form-control" id="inputNome" placeholder="Nome" formControlName="nome" maxlength="31"
        [addValidOrInvalidClass]="nome">
      <app-control-error [control]="nome" [label]="'Nome'"></app-control-error>
    </div>

    <div class="form-group col-md-12">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email"
        maxlength="31" [addValidOrInvalidClass]="email">
      <app-control-error [control]="email" [label]="'Email'"></app-control-error>
    </div>

    <div class="form-group col-md-12">
      <label for="inputConfEmail">Confirmar Email</label>
      <input type="email" class="form-control" id="inputConfEmail" placeholder="Email" formControlName="confEmail"
        maxlength="31" [addValidOrInvalidClass]="confEmail">
      <app-control-error [control]="confEmail" [label]="'Confirmar Email'"></app-control-error>
    </div>

  </div>

  <div formGroupName="endereco" class="form-row">
    <div class="form-group col-md-3">
      <label for="inputCep">CEP</label>
      <input type="text" class="form-control" id="inputCep" placeholder="21345-60" formControlName="cep"
        [addValidOrInvalidClass]="cep">
      <app-control-error [control]="cep" [label]="'CEP'"></app-control-error>
    </div>

    <div class="form-group col-md-3">
      <label for="inputNumero">Número</label>
      <input type="text" class="form-control" id="inputNumero" placeholder="123" formControlName="numero" maxlength="6"
        [addValidOrInvalidClass]="numero">
      <app-control-error [control]="numero" [label]="'Número'"></app-control-error>
    </div>

    <div class="form-group col-md-6">
      <label for="inputComplemento">Complemento</label>
      <input type="text" class="form-control" id="inputComplemento" placeholder="Apartamento, hotel, casa, etc."
        maxlength="31" formControlName="complemento" [addValidOrInvalidClass]="complemento">
      <app-control-error [control]="complemento" [label]="'Complemento'"></app-control-error>
    </div>

    <div class="form-group col-md-12">
      <label for="inputRua">Rua</label>
      <input type="text" class="form-control" id="inputRua" placeholder="Rua dos Bobos, nº 0" formControlName="rua"
        maxlength="31" [addValidOrInvalidClass]="rua">
      <app-control-error [control]="rua" [label]="'Rua'"></app-control-error>
    </div>

    <div class="form-group col-md-4">
      <label for="inputBairro">Bairro</label>
      <input type="text" class="form-control" id="inputBairro" formControlName="bairro" maxlength="31"
        [addValidOrInvalidClass]="bairro">
      <app-control-error [control]="bairro" [label]="'Bairro'"></app-control-error>
    </div>

    <div class="form-group col-md-4">
      <label for="inputCidade">Cidade</label>
      <input type="text" class="form-control" id="inputCidade" formControlName="cidade" maxlength="31"
        [addValidOrInvalidClass]="cidade">
      <app-control-error [control]="cidade" [label]="'Cidade'"></app-control-error>
    </div>

    <div class="form-group col-md-4">
      <label for="selectEstado">Estado</label>
      <select id="selectEstado" class="form-control" formControlName="estado" [addValidOrInvalidClass]="estado">
        <option *ngFor="let estado of estados | async" [value]="estado.sigla">
          {{ estado.nome }}
        </option>
      </select>
      <app-control-error [control]="estado" [label]="'Estado'"></app-control-error>
    </div>
  </div>

  <div class="form-row">

    <div class="col-md-4" [addValidOrInvalidClass]="this.formulario.get('listaDeTurmas')">
      <label for="listaDeTurmas" class="d-flex justify-content-center">Turmas Interessadas</label>
      <div id="listaDeTurmas" class="row">
        <div class="checkbox" class="col-sm-4" formArrayName="listaDeTurmas"
          *ngFor="let item of formulario.get('listaDeTurmas')['controls']; let i = index">
          <label class="checkbox-inline">
            <input type="checkbox" [formControlName]="i"> {{ listaDeTurmas[i] }}
          </label>
        </div>
      </div>
      <app-control-error [control]="formulario.get('listaDeTurmas')" [label]="'Turmas'"></app-control-error>
    </div>

    <div class="form-group col-md-4 " *ngFor="let s of sexos">
      <label for="checkSexo" class="form-check-label mr-4">{{s.valor}}</label>
      <input [value]="s.chave" type="radio" class="form-check-input" id="checkSexo" formControlName="sexo"
        [addValidOrInvalidClass]="this.formulario.get('sexo')">
      <app-control-error [control]="sexo" [label]="'Sexo'"></app-control-error>
    </div>

  </div>

  <br>

  <div class="form-row">

    <div class="form-group col-md-4">
      <label for="selectStatus">Status</label>
      <select id="selectStatus" class="form-control" formControlName="status"
        [addValidOrInvalidClass]="this.formulario.get('status')">
        <option *ngFor="let status of listaDeStatus" [value]="status">
          {{status}}
        </option>
      </select>
      <app-control-error [control]="status" [label]="'Status'"></app-control-error>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="checkCondicao" class="form-check-label mr-4">Aceito as condições</label>
      <input type="checkbox" class="form-check-input" id="checkCondicao" formControlName="condicao"
        [addValidOrInvalidClass]="this.formulario.get('condicao')">
      <app-control-error [control]="condicao" [label]="'Aceito as condições'"></app-control-error>
    </div>
  </div> -->

  <button type="submit" class="btn btn-sm btn-success" [markAsDirtyAllControls]="formulario">{{buttonSubmit}}</button>

</form>