<h2 id="appUnless">Usando diretiva ForDirective</h2>
<ul>
    <li *myFor="let numero numeros [1,2,3] usando 'teste' ">{{numero}}</li>
</ul>

<h2 id="appUnless">UnlessDirective</h2>
<p>
    The condition is currently
    <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.
    <button (click)="condition = !condition" [ngClass]="{ 'a': condition, 'b': !condition }">
        Toggle condition to {{condition ? 'false' : 'true'}}
    </button>
</p>

<p *appUnless="condition" class="unless a">
    (A) This paragraph is displayed because the condition is false.
</p>

<p *appUnless="!condition" class="unless b">
    (B) Although the condition is true,
    this paragraph is displayed because appUnless is set to false.
</p>


<!-- <button class="btn btn-outline-primary mr-2" (click)="open()">
    <div>Open confirm modal</div>
</button> -->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>        
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Hello, World!</p>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-danger" (click)="c('Save click')">Save</button>
        <button type="button" class="btn btn-secondary" (click)="d('cancel click')">Cancel</button>
        
    </div>
</ng-template>

<button class="btn btn-sm btn-outline-primary" (click)="open(content)">Launch demo modal</button>